{% extends 'Layouts/base_home.html' %}
{%load static%}
{% block content %}

<!-- Link para que herede los estilos que definimos en static -->
<link rel="stylesheet" href="{% static 'css/historial_de_compras.css' %}">


    <div class="historial-container">
        <h1>Historial de Compras</h1>
        
        {% if compras %}
            <table class="compras-table">
                <thead>
                    <tr>
                        <th>Producto</th>
                        <th>Cantidad</th>
                        <th>Total</th>
                        <th>Fecha</th>
                    </tr>
                </thead>
                <tbody>
                    {% for compra in compras %}
                        <tr>
                            <td>{{ compra.producto.nombre }}</td>
                            <td>{{ compra.cantidad }}</td>
                            <td>${{ compra.total }}</td>
                            <td>{{ compra.fecha_compra|date:"d-m-Y H:i" }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No tienes compras registradas.</p>
        {% endif %}
    </div>
{% endblock %}
