{% extends 'Layouts/base_home.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/nuestros_productos.css' %}">

<div class="productos-container">
    <h1>Nuestros Productos</h1>

    <table>
        <thead>
            <tr>
                <th>Plato</th>
                <th>Descripción</th>
                <th>Precio</th>
            </tr>
        </thead>
        <tbody>
            {% for nombre, descripcion, precio in productos %}
            <tr>
                <td>{{ nombre }}</td>
                <td>{{ descripcion }}</td>
                <td>{{ precio }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
