<!-- OJOOOOOOOO, SE DEJA EL ARHCIVO CON UN ERROR DE LOGICA, SE SOLUCIONARA DESPUES DE IMPLEMENTAR EL CCS- -->
{% extends 'Layouts/base_home.html' %}

{% block content %}

{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Perfil</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="container">
        <h2> Mi Perfil</h2>

    {% if perfil %}
    <p><strong>Nombre:</strong> {{ perfil.nombre }} {{ perfil.apellido }}</p>
    <p><strong>Correo:</strong> {{ perfil.correo_electronico }}</p>
    <p><strong>Número de Documento:</strong> {{ perfil.numero_id }}</p>
        <p><strong>Rol:</strong> {{ perfil.get_rol_display }}</p>

    {% else %}
        <p>No se encontró un perfil para este usuario.</p>
    {% endif %}
    </div>
</body>
</html>

{%endblock%}