{% extends 'Layouts/base_home.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/perfil_usuarios.css' %}">

<div class="perfil-container">
    <div class="info-container">
        <h2>👤 Mi Perfil</h2>
        {% if perfil %}
            <div class="datos-usuario">
                <p><strong>Nombre:</strong> {{ perfil.nombre }} {{ perfil.apellido }}</p>
                <p><strong>Correo:</strong> {{ perfil.correo_electronico }}</p>
                <p><strong>Número de Documento:</strong> {{ perfil.numero_id }}</p>
                <p><strong>Rol:</strong> Estudiante</p>
            </div>
        {% else %}
            <p>No se encontró un perfil para este usuario.</p>
        {% endif %}
    </div>

    <div class="imagen-container">
        <img src="{% static 'imagenes/perfil_del_usuario.png' %}" alt="YO" class="imagen-perfil" style="max-width: 250px; margin: 20px auto;">
    </div>
</div>

{% endblock %}
