{% extends 'Layouts/base_home.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/planes_nutricionales.css' %}">

<div class="contenedor-formulario">
    <h1>Crear Plan Alimenticio</h1>
    <form method="POST">
        {% csrf_token %}
        <input type="number" step="0.1" name="Peso" placeholder="Peso (kg)" required>
        <input type="number" step="0.01" name="Estatura" placeholder="Estatura (m)" required>
        <input type="number" name="Edad" placeholder="Edad (años)" required>
        <select name="Actividad_fisica" required>
            <option value="" disabled selected>Nivel de actividad física</option>
            <option value="baja">Baja</option>
            <option value="media">Media</option>
            <option value="alta">Alta</option>
        </select>
        <button type="submit">Generar plan</button>
    </form>
</div>

{% if plan %}
<h2 class="titulo-objetivo">Tu plan semanal para:  {{ objetivo }}</h2>
<div class="contenedor-tarjetas">
    {% for dia in plan %}
        <div class="tarjeta-dia">
            <h3>{{ dia.dia }}</h3>
            <p><strong>Desayuno:</strong> {{ dia.desayuno }}</p>
            <p><strong>Almuerzo:</strong> {{ dia.almuerzo }}</p>
            <p><strong>Merienda:</strong> {{ dia.snack }}</p>
            <p><strong>Cena:</strong> {{ dia.cena }}</p>
        </div>
    {% endfor %}
</div>
{% endif %}
{% endblock %}
