{% extends 'Layouts/base.html'%}

{%block content %}

<h1>Estamos en la página de contacto</h1>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod, ex vitae fermentum congue, nunc velit pulvinar nunc, 
            in venenatis nunc felis non velit. Donec sodales justo vel justo gravida, at consectetur justo condimentum. Sed non sem vel 
            nunc sagittis finibus. Donec eleifend, ligula sed interdum aliquet, eros neque fermentum velit, id consectetur velit ligula 
            vel dolor. Donec vel justo ut arcu laoreet bibendum. Donec vel justo ut arcu laoreet bibendum. Sed vel justo ut arcu laoreet 
            bibendum. Donec vel justo ut arcu laoreet bibendum.</p>

</h1>
{% endblock %}



