{% extends 'Layouts/base.html'%}

{% block content %}
<!DOCTYPE html>

{% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
        {{ message }}
      </li>
    {% endfor %}
  </ul>
{% endif %}
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    
    <!-- bootstrap CDN -->

</head>

<body class="bg-light">
    <div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
        <div class="login-container p-5 border rounded shadow-lg bg-white">
            <h2 class="text-center mb-4">Iniciar Sesión</h2>
            <form method="post">
                {% csrf_token %}
                
                <div class="mb-3">
                    <label for="username" class="form-label">Usuario</label>
                    <input type="text" class="form-control" name="username" id="username" required>
                </div>
                
                <div class="mb-3">
                    <label for="password" class="form-label">Contraseña</label>
                    <input type="password" class="form-control" name="password" id="password" required>
                </div>

                <div class="mb-3">
                  <label for="Numero_de_id" class="form-label">Numero de id</label>
                  <input type="Numero_de_id" class="form-control" name="Numero_de_id" id="Numero_de_id" required>
              </div>
                
                <button type="submit" class="btn btn-primary w-100">Ingresar</button>
            </form>
        </div>
    </div>

    <!-- scripts de Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
</body>

</html>
{% endblock %}